.top_category h3 {
    font-size: 28px;
    color: #666;
    font-weight: normal;
    text-align: center;
    line-height: 100px;
}

.top_category .sub_list {
    margin-top: 20px;
    background-color: #fff;
}

.top_category .sub_list ul {
    display: flex;
    padding: 0 32px;
    flex-wrap: wrap;
}

.top_category .sub_list ul li {
    width: 168px;
    height: 160px;
}

.top_category .sub_list ul li a {
    text-align: center;
    display: block;
    font-size: 16px;
}

.top_category .sub_list ul li a img {
    width: 100px;
    height: 100px;
}

.top_category .sub_list ul li a p {
    line-height: 40px;
}

.top_category .sub_list ul li a:hover {
    color: #27ba9b;
}

.top_category .ref_goods {
    background-color: #fff;
    margin-top: 20px;
    position: relative;
}

.top_category .ref_goods .head .xtx-more {
    position: absolute;
    top: 20px;
    right: 20px;
}

.top_category .ref_goods .head .tag {
    text-align: center;
    color: #999;
    font-size: 20px;
    position: relative;
    top: -20px;
}

.top_category .ref_goods .body {
    display: flex;
    justify-content: space-around;
    padding: 0 40px 30px;
}

.top_category .bread_container {
    padding: 25px 0;
}

.home_banner {
    width: 1240px;
    height: 500px;
    margin: 0 auto;
}

.home_banner img {
    width: 100%;
    height: 500px;
}

.banner_content {
    height: '495px';
    color: '#fff';
    line-height: '160px';
    text-align: 'center';
    background: '#364d79';
}