// custom-theme.scss

// Import Bootstrap source files
// @import '~bootstrap/scss/bootstrap';

// Customize your theme colors using React Bootstrap's SCSS variables
$xtxColor: #27ba9b;
$helpColor: #e26237;
$sucColor: #1dc779;
$warnColor: #ffb302;
$priceColor: #cf4444;

// Include the customized Bootstrap styles
// @import '~bootstrap/scss/bootstrap';